<div class="container-fluid hero-container vh-100">
  <div class="hero-section">
    <img src="assets/images/cpu.jpg" alt="Hero background" class="hero" />
    <div class="hero-overlay">
      <h1 class="hero-slogan">Rent. Run. Return. Repeat.</h1>
      <h2 class="hero-description">Rent IT Stuff for heavy play</h2>
      <div class="hero-buttons">
        <button class="hero-btn">Rent Now</button>
        <button class="hero-btn hero-btn-outline">Contact</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-warning text-center mt-5">
        <p class="fs-1 fw-bold">How our services work ?</p>
      </div>
    </div>
    <div class="row text-center mt-5">
      <div class="col-md-4">
        <div class="card py-4">
          <div class="card-body">
            <p class="mb-3">
              <i class="fa-solid fa-truck-ramp-box fa-2xl text-warning"></i>
            </p>
            <h5 class="card-title text-warning fs-2 fw-bold mt-3">Rent IT</h5>
            <p class="card-text mt-2">
              <span class="fst-italic">Search, filter, rent — simple as that.</span> Grab your pick at our shop,
              and start using it the same day!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card py-4">
          <div class="card-body">
            <p class="mb-3">
              <i class="fa-solid fa-gamepad fa-2xl text-warning"></i>
            </p>
            <h5 class="card-title text-warning fs-2 fw-bold mt-3">Use IT</h5>
            <p class="card-text mt-2">
              <span class="fst-italic">Play, work, use it however you want.</span>
              Just make sure no damage is done to rented equipment.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card py-4">
          <div class="card-body">
            <p class="mb-3">
              <i class="fa-solid fa-arrow-rotate-left fa-2xl text-warning"></i>
            </p>
            <h5 class="card-title text-warning fs-2 fw-bold mt-3">Return IT</h5>
            <p class="card-text mt-2">
              At the last day of rental bring equipment back to us.
              <span class="fst-italic">Beware - additional costs if due.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
